body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

.login-container,
.register-container {
    width: 300px;
    margin: 100px auto;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2,
.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container p{
    text-align: center;
}

.login-container label {
    display: block;
}

.login-container input,
.register-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.login-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2c7be5;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 8px;
}

.register-container a {
    display: block;
    width: 93%;
    padding: 10px;
    background-color: #2c7be5;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 8px;
}

.login-container button:hover,
.register-container a:hover {
    background-color: #1a5fc4;
}

.dashboard-container {
    width: 70%;
    margin: 40px auto;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #2c7be5;
    color: #ffffff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.logout {
    display: block;
    width: 150px;
    margin: 30px auto 0;
    padding: 10px;
    background-color: #2c7be5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logout:hover {
    background-color: #1a5fc4;
}